In [2]:
! pip install folium

Requirement already satisfied: folium in /opt/conda/lib/python3.7/site-packages (0.10.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from folium) (1.17.1)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/lib/python3.7/site-packages (from folium) (2.10.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from folium) (2.22.0)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from folium) (0.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->folium) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->folium) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from branca>=0.3.0->folium) (1.12.0)

In [4]:
import folium
import pandas as pd
import numpy as np
import random 
import warnings
warnings.filterwarnings('ignore')

In [1]:
user_nbhd = input('Choose from Manhattan, Brooklyn, Queens, Bronx, Staten Island: ')
user_nhhd_result = airbnb_data[airbnb_data['neighbourhood_group'] == user_nbhd]
print(user_nhhd_result.sample(2))

Choose from Manhattan, Brooklyn, Queens, Bronx, Staten Island: Manhattan

NameError: name 'airbnb_data' is not defined

In [ ]:
CENTER_NYC = (40.7128,-74.0060)
map = folium.Map(location=CENTER_NYC, zoom_start=12)
map
for row in data.to_records():
    pos = (row['latitude'],row['longitude'])
    marker = folium.Marker(location=pos, 
                    popup="%s, %s" % (row['name'],row['neighbourhood_ground'])
                          )
    map.add_child(marker)
map

In [5]:
restaurants = pd.read_csv('NYC_Restaurants.csv')
restaurants.sample(5)

,NAME,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
228441,BEBEFRITAY,BROOKLYN,1464,ROCKAWAY PKWY,11236.0,Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330977,ESTRELLA DEL MAR RESTAURANT,QUEENS,552,SENECA AVENUE,11385.0,"Latin (Cuban, Dominican, Puerto Rican, South &...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292150,M & J ASIAN RESTAURANT,MANHATTAN,600,E 14TH ST,10009.0,Chinese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150500,TACO BELL,QUEENS,26008,HILLSIDE AVENUE,11004.0,Tex-Mex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319604,LILY'S BAR @ ROGER SMITH HOTEL,MANHATTAN,501,LEXINGTON AVENUE,10017.0,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
food = restaurants[ (restaurants['BORO'] =='MANHATTAN') & (restaurants['CUISINE DESCRIPTION'] == "Mexican")]
food['BORO'].value_counts()

MANHATTAN    5234
Name: BORO, dtype: int64